/.vs/OngoingArduinoDev/v17/Preview/*
/BinaryMsgDemoArduinoUno/Debug/*
/BinaryMsgProcessorConsoleTest/Debug/*
/BinaryMsgDemoArduinoUno/__vm/.BinaryMsgDemoArduinoUno.vsarduino.h
/BinaryMsgDemoArduinoUno/Release/*
/HardwareUARTSetBlueTooth/Debug/*
/HardwareUARTSetBlueTooth/Release/*
/HardwareUARTSetBlueTooth/__vm/.HardwareUARTSetBlueTooth.vsarduino.h
/MCTDemoBluetooth/Release/*
/MCTDemoBluetooth/Debug/*
